<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Happy Ninja</title>
	<atom:link href="http://helpinghands1.skat.tf/shop/clothing/happy-ninja/feed/" rel="self" type="application/rss+xml" />
	<link>http://helpinghands1.skat.tf/shop/clothing/happy-ninja/</link>
	<description>Just another The Web Design Factory Sites site</description>
	<lastBuildDate>Fri, 27 Jan 2017 20:29:30 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.2</generator>
	<item>
		<title>By: Maria</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/happy-ninja/#comment-10</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:49:53 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=37#comment-10</guid>
		<description><![CDATA[Love this shirt! The ninja near and dear to my heart. &#060;3]]></description>
		<content:encoded><![CDATA[<p>Love this shirt! The ninja near and dear to my heart. &lt;3</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Stuart</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/happy-ninja/#comment-9</link>
		<dc:creator><![CDATA[Stuart]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:01:25 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=37#comment-9</guid>
		<description><![CDATA[This will go great with my Hoodie that I ordered a few weeks ago.]]></description>
		<content:encoded><![CDATA[<p>This will go great with my Hoodie that I ordered a few weeks ago.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 18/42 queries in 0.020 seconds using disk
Content Delivery Network via skattf.skatdesign.netdna-cdn.com

 Served from: helpinghands1.skat.tf @ 2017-02-03 11:11:31 by W3 Total Cache -->