.mb10{
  margin-top: 10px !important;
}

.vc_custom_1438469848050
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}
.vc_custom_1441047606776
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-right: 40px !important;
	padding-left: 40px !important;
	background-color: #ffffff !important;
}
.vc_custom_1438469829744
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-right: 40px !important;
	padding-bottom: 50px !important;
	padding-left: 40px !important;
	background-color: #ffffff !important;
}
.vc_custom_1438469820081
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-top: 100px !important;
	padding-right: 40px !important;
	padding-bottom: 76px !important;
	padding-left: 40px !important;
	background-image: url(earthquake-bg920d.jpg) !important;
}
.vc_custom_1438469809528
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-right: 40px !important;
	padding-left: 40px !important;
	background-color: #ffffff !important;
}
.vc_custom_1438469800424
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-right: 40px !important;
	padding-left: 40px !important;
	background-image: url(http://skattf.skatdesign.netdna-cdn.com/wp-content/uploads/sites/15/2015/07/earthquake-bg-green.jpg?id=406) !important;
}
.vc_custom_1438469790330
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-top: 150px !important;
	padding-bottom: 150px !important;
	background-image: url(http://skattf.skatdesign.netdna-cdn.com/wp-content/uploads/sites/15/2015/07/aeducation2.jpg?id=243) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1438469753629
{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-right: 40px !important;
	padding-left: 40px !important;
	background-color: #ffffff !important;
}
.vc_custom_1438378644663
{
	padding: 0px !important;
}
.vc_custom_1438378655228
{
	padding: 0px !important;
}
.vc_custom_1438378997926
{
	padding: 0px !important;
}
.vc_custom_1457382338348
{
	padding-bottom: 30px !important;
}
.vc_custom_1457382378618
{
	padding-bottom: 30px !important;
}
.vc_custom_1457382395800
{
	padding-bottom: 30px !important;
}
.vc_custom_1443122382855
{
	padding: 0px !important;
}
.vc_custom_1438467129101
{
	padding: 0px !important;
}
.vc_custom_1443122397405
{
	padding: 0px !important;
}
.vc_custom_1438468341922
{
	padding-top: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 30px !important;
	padding-left: 30px !important;
	background-color: #ffffff !important;
}
.top_background
{
	background: url(uploads/campaign-title-bg.jpg) no-repeat;
	padding: 107px 2px;
}
.address_side
{
	background-color:#f1f5fa;box-shadow: px px px px rgb(247, 247, 247) none;
	padding:30px;margin-bottom:20px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.new_text{
	line-height: 20px !important;
}
.new_text2{
	line-height: 20px !important;
	height: 100px !important;
}


/*




.middel_4 h3{
  margin: 0px;
  padding: 8px 10px;
  text-align: left;
  background:#9b43be;
  color: #fff;
}
.middel_4 ul{
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.middel_4 ul li{
display: inline-block;
text-align: left;
width: 100%;
line-height: 35px;
font-size: 16px;
 }
 .middel_4 ul li i{
  color: #9b43be;
  padding-right: 12px;
 }
.mm ul{
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.mm ul li{
display: inline-block;
text-align: left;
width: 100%;
line-height: 35px;
font-size: 16px;
 }
.mm ul li a{
  text-decoration: none;
  cursor: pointer;
  color: #9b43be;
}
.addition {
  padding-top: 20px;

}
.addition h4{
  text-align: center;
  color: #167d2c;
  line-height: 30px;
  font-size: 20px;

}
.app_btn{

    width: 310px;


    float: left;
    background:#fff;
    box-shadow: 0px 0px 1px 0px;
     font-family: 'arialbold';
     font-size: 20px;
    position: relative;
  padding: 10px 10px;
    margin-top: 80px;
    /* border-bottom: 5px solid #167d2c;*/
/*}


.app_btn a{
     color: #167d2c;
     text-decoration: none;


    }
       .app_btn2{

    width: 310px;

    text-align: center;
    float: left;
    background:#fff;
    box-shadow: 0px 0px 1px 0px;
     font-family: 'arialbold';
     font-size: 20px;

    padding: 10px 0px;
    margin-top: 80px;
     margin-left: 16%;
     position: relative;
     /* border-bottom: 5px solid #9b43be;*/
}
.app_btn2 a{
     color: #9b43be;
      text-decoration: none;

    }
    .app_btn2 a:hover{
      color: #167d2c;
      transition: 2s;
    }
     .app_btn a:hover{
      color: #9b43be;
      transition: 2s;
    }



    .app_btn img{
      height: 38px;
      margin-right: 20px;
      width: 59px;


    }
    .app_btn2 img{
      height: 40px;
      margin-right: 20px;
    }
    .inputform input{

      border-radius: 0px !important;
      margin-bottom: 10px;

    }
    .inputform textarea{
      border-radius: 0px !important;
      height: 93px;
        margin-bottom: 10px;


    }
     .inputform label{
      font-size: 16px;
      line-height: 25px;


     }
 .inputform p{
     line-height: 30px;
     padding-top: 20px;
     padding-bottom: 20px;
     }
     .inputform h4{
      color: #9b43be;
     }
     .radion{
      float: left;
      padding: 0px 0px;
      margin-right:30px;
      
     }
     .radion input{
      width: 25px !important;
     }
     .senddata input{


      font-size: 20px;
      height: auto !important;
      border: 1px solid #9b43be;
      text-transform: uppercase;
      margin-top: 30px;

     }




@media only screen and (max-width: 481px) {

.top_background{ background-image:none !important; padding:10px 0px !important; background-color:#424c60;}

.top_background p{text-align: center; font-size:20px; margin: 0px auto; width: 100%; font-weight:500 !important; line-height:1.3 !important; color:#fff !important;}

.sd-text-bg-white{ background-color:inherit !important;}

}