<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Clothing &#8211; Charity/Foundation WordPress Theme</title>
	<atom:link href="http://helpinghands1.skat.tf/product-category/clothing/feed/" rel="self" type="application/rss+xml" />
	<link>http://helpinghands1.skat.tf</link>
	<description>Just another The Web Design Factory Sites site</description>
	<lastBuildDate>Tue, 15 Nov 2016 00:06:21 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.2</generator>
	<item>
		<title>Happy Ninja</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/happy-ninja/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/happy-ninja/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:53:15 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=37</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/happy-ninja/#more-195">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/happy-ninja/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Happy Ninja</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/happy-ninja-2/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/happy-ninja-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:05:37 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=53</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/happy-ninja-2/#more-199">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/happy-ninja-2/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Ninja Silhouette</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:49:51 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=31</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette/#more-193">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Ninja Silhouette</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:07:19 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=56</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#more-200">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/feed/</wfw:commentRss>
		<slash:comments>5</slash:comments>
		</item>
		<item>
		<title>Patient Ninja</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:03:56 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/patient-ninja/#more-198">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>Premium Quality</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/premium-quality/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/premium-quality/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:41:52 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=19</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/premium-quality/#more-191">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/premium-quality/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Ship Your Idea</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ship-your-idea/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/ship-your-idea/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:46:01 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=22</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/ship-your-idea/#more-192">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/ship-your-idea/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>Ship Your Idea</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ship-your-idea-2/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/ship-your-idea-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:00:28 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=40</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/ship-your-idea-2/#more-196">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/ship-your-idea-2/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>Woo Logo</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/woo-logo/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/woo-logo/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:35:51 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=15</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/woo-logo/#more-190">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/woo-logo/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Woo Logo</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/woo-logo-2/</link>
		<comments>http://helpinghands1.skat.tf/shop/clothing/woo-logo-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:12:55 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=60</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<p><a class="sd-more sd-all-trans" href="http://helpinghands1.skat.tf/shop/clothing/woo-logo-2/#more-201">Read More</a></p>]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/shop/clothing/woo-logo-2/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
	</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 38/100 queries in 0.034 seconds using disk
Content Delivery Network via skattf.skatdesign.netdna-cdn.com

 Served from: helpinghands1.skat.tf @ 2017-02-03 11:14:34 by W3 Total Cache -->