<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>AWARNESS &#8211; Charity/Foundation WordPress Theme</title>
	<atom:link href="http://helpinghands1.skat.tf/campaigns/category/awarness/feed/" rel="self" type="application/rss+xml" />
	<link>http://helpinghands1.skat.tf</link>
	<description>Just another The Web Design Factory Sites site</description>
	<lastBuildDate>Tue, 15 Nov 2016 00:06:21 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.2</generator>
	<item>
		<title>HELP US PRINT 100 T-SHIRTS</title>
		<link>http://helpinghands1.skat.tf/campaigns/help-us-print-100-t-shirts/</link>
		<comments>http://helpinghands1.skat.tf/campaigns/help-us-print-100-t-shirts/#respond</comments>
		<pubDate>Tue, 28 Jul 2015 14:32:15 +0000</pubDate>
		<dc:creator><![CDATA[skat]]></dc:creator>
		
		<guid isPermaLink="false">http://helpinghands.skat.tf/?post_type=download&#038;p=31</guid>
		<description><![CDATA[Phasellus in egestas libero, et congue lacus. Cras vel lacus nisi. Duis nulla metus, tincidunt at tortor.]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid" style="padding-right: 0px;padding-left: 0px;border-style: none;"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1438094335053"><div class="wpb_wrapper"><div id="ultimate-heading-4715894665bc9684" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-4715894665bc9684 uvc-77 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-main-heading ult-responsive"  data-ultimate-target='.uvc-heading.ultimate-heading-4715894665bc9684 h3'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' ><h3 style="font-family:'Montserrat';font-weight:700;margin-bottom:30px;">LOREM IPSUM DOLOR SIT COOPNSECTETUR ADIPISCING ELIT ELLENTESQUE FUTURE STUFFS ALSO GOES PLACERAT VEL AUGUE</h3></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, efficitur a fermen tum sed, suscipit sit amet arcu. Ut ut finibus tortor, eu ultrices turpis. Mauris vitae elit nec diam elementum elementum. Mauris ante quam, consequat ac nibh placerat, lacinia sollicitudin mi. Duis<br />
facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam erat in nisl lobortis, ut pellentesque lectus viverra. Aenean sodales aliquet arcu at aliquam.</p>
<p>Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Aenean imperdiet lacus sit amet elit porta, et malesuada erat bibendum. Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada, malesuada iaculis eros dignissim. Aenean vitae diam id lacus fringilla maximus. Mauris auctor efficitur nisl, non blandit urna fermentum nec. Vestibulum non leo ibero.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="http://skattf.skatdesign.netdna-cdn.com/wp-content/uploads/sites/15/2015/07/inner-campaign-img.jpg" width="359" height="265" alt="inner-campaign-img" title="inner-campaign-img" /></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-spacer spacer-5894665bcc67a" data-id="5894665bcc67a" data-height="0" data-height-mobile="20" data-height-tab="" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div><div id="ultimate-heading-39055894665bcc7cd" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-39055894665bcc7cd uvc-2670 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-main-heading ult-responsive"  data-ultimate-target='.uvc-heading.ultimate-heading-39055894665bcc7cd h4'  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":""}' ><h4 style="font-family:'Montserrat';font-weight:700;margin-bottom:30px;">LOREM IPSUM DOLOR SIT COOPNSE</h4></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipi<br />
scing elit. Pellentesque massa.</p>
<ul class="sd-list-style">
<li>Feature Point 1 will appear here</li>
<li>Some Pointer goes here</li>
<li>Your 100% donation goes to field</li>
<li>You dont need to worry about the payment<br />
you make</li>
</ul>

		</div>
	</div>
</div></div></div></div><div class="ult-spacer spacer-5894665bccc81" data-id="5894665bccc81" data-height="0" data-height-mobile="20" data-height-tab="" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div><div class="ult-content-box-container " >		<div class="ult-content-box" style="background-color:#29af8a;box-shadow: px px px px #f7f7f7 none;padding:30px;margin-bottom:30px;-webkit-transition: all 700ms ease;-moz-transition: all 700ms ease;-ms-transition: all 700ms ease;-o-transition: all 700ms ease;transition: all 700ms ease;"  data-hover_box_shadow="none"    data-normal_margins="margin-bottom:30px;"   data-bg="#29af8a" >
	<div class="wpb_text_column wpb_content_element  vc_custom_1438097787964">
		<div class="wpb_wrapper">
			<p><em><span style="color: #ffffff;">Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Amet elit porta, et malesuada erat bibendum. Cras sed nunc massa. Tellus malesuada, malesuada iaculis eros dignissim.</span></em></p>

		</div>
	</div>
		</div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1438096212341"><div class="wpb_wrapper"><div id="ultimate-heading-95555894665bcdae2" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-95555894665bcdae2 uvc-8066 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-main-heading ult-responsive"  data-ultimate-target='.uvc-heading.ultimate-heading-95555894665bcdae2 h4'  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":""}' ><h4 style="font-family:'Montserrat';font-weight:700;margin-bottom:30px;">LOREM IPSUM DOLOR SIT COOPNSE</h4></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipi<br />
scing elit. Pellentesque massa.</p>
<ul class="sd-list-style">
<li>Feature Point 1 will appear here</li>
<li>Some Pointer goes here</li>
<li>Your 100% donation goes to field</li>
<li>You dont need to worry about the payment<br />
you make</li>
</ul>

		</div>
	</div>
<div class="ult-spacer spacer-5894665bcdf06" data-id="5894665bcdf06" data-height="0" data-height-mobile="20" data-height-tab="" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1438096222303"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="http://skattf.skatdesign.netdna-cdn.com/wp-content/uploads/sites/15/2015/07/event3-359x265.jpg" width="359" height="265" alt="event3" title="event3" /></div>
		</figure>
	</div>
<div class="ult-spacer spacer-5894665bcf57b" data-id="5894665bcf57b" data-height="0" data-height-mobile="20" data-height-tab="" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div></div></div></div></div><div id="ultimate-heading-31075894665bcf7aa" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-31075894665bcf7aa uvc-3778 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-main-heading ult-responsive"  data-ultimate-target='.uvc-heading.ultimate-heading-31075894665bcf7aa h3'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' ><h3 style="font-family:'Montserrat';font-weight:700;margin-bottom:30px;">LOREM IPSUM DOLOR SIT COOPNSECTETUR ADIPISCING ELIT ELLENTESQUE FUTURE STUFFS ALSO GOES PLACERAT VEL AUGUE</h3></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, efficitur a fermen tum sed, suscipit sit amet arcu. Ut ut finibus tortor, eu ultrices turpis. Mauris vitae elit nec diam elementum elementum. Mauris ante quam, consequat ac nibh placerat, lacinia sollicitudin mi. Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur liquam erat in nisl lobortis, ut pellentesque lectus viverra. Aenean sodales aliquet arcu at aliquam.</p>

		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			<wfw:commentRss>http://helpinghands1.skat.tf/campaigns/help-us-print-100-t-shirts/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 19/61 queries in 0.050 seconds using disk
Content Delivery Network via skattf.skatdesign.netdna-cdn.com

 Served from: helpinghands1.skat.tf @ 2017-02-03 11:15:39 by W3 Total Cache -->