@media only screen and (min-width: 1200px) {
    .wa_main_bn_wrap figcaption h2 {
        font-size: 42px;
    }
    .wa_main_bn_wrap figcaption span {
        font-size: 32px;
    }
    .wa_main_bn_wrap figcaption span:before {
        bottom: -6px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .left-one-third {
        width: 100%;
        left: -4%;
    }
}
@media only screen and (min-width: 1025px) {
    .owl-carousel-style1 .owl-buttons {
        left: -40px;
        top: 0px;
    }
    .wa-partners .owl-buttons {
        #left: -55px;
        #padding-top: 5px;
    }
    #testimonial-section1 .owl-buttons {
        left: -55px;
    }
}
@media only screen and (min-width: 992px) {
    #top-bar .pull-left ul {
        text-align: left;
    }
    #top-bar .pull-right ul {
        text-align: right;
    }
    #top-bar .pull-right ul li:last-child a {
        margin-right: 0;
    }
    .wa-row-only-md {
        margin-left: -15px;
        margin-right: -15px;
    }
    .boxed-version .left-one-third {
        width: 63.5%;
        left: -5%;
    }
    .navbar-nav > li > a {
        padding: 35px 15px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        padding: 15px 0px;
    }
}
@media only screen and (max-width: 991px) {
    #top-bar .pull-left {
        #margin-bottom: 10px;
    }
    #top-bar .pull-left,
    #top-bar .pull-right {
        width: 100%;
        text-align: center;
    }
    #top-bar ul li:after {
        width: 0px;
        margin-right: 0px;
    }
    #top-bar ul li a {
        margin-right: 10px;
    }
    #main-footer .widget {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .left-one-third {
        width: 100%;
        left: -4%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .left-one-third {
        width: 100%;
        left: -4%;
    }
    .owl-carousel-style1 .owl-buttons div {
        float: none;
        margin-right: 5px;
    }
    .owl-carousel-style1 .owl-buttons {
        left: 0;
        width: 100%;
        top: 102%;
        text-align: left;
        position: relative;
        padding: 10px 15px;
    }
    .wa-partners .owl-buttons {
        #padding-left: 5px;
        #padding-top: 5px;
    }
    #testimonial-section1 .owl-buttons {
        padding-left: 0;
    }
    .wa_main_bn_wrap .owl-theme .owl-pagination {
        bottom: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #top-bar .pull-left {
        #margin-bottom: 10px;
    }
    #top-bar .pull-left,
    #top-bar .pull-right {
        width: 100%;
        text-align: center;
    }
    #top-bar ul li:after {
        width: 0px;
        margin-right: 0px;
    }
    #top-bar ul li a {
        margin-right: 10px;
    }
    .navbar-nav > li > a {
        padding: 20px 15px;
    }
    .pad-s30 {
        padding: 0px 30px;
    }
    .pad-s15 {
        padding-left:15px;
        padding-right:15px;
    }
    .marB-s30 {
        margin-bottom: 30px;
    }
    .sidebar-tab .padL0 {
        padding: 0px 15px;
    }
    .sidebar-tab .tab-btns {
        margin-bottom: 15px;
    }
    .home-sign-up {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
	
    .special-style {
        width: 100%;
    }
    .owl-carousel-style1 .owl-buttons div {
        float: none;
        margin-right: 5px;
    }
    .owl-carousel-style1 .owl-buttons {
        left: 0;
        width: 100%;
        top: 102%;
        text-align: left;
        position: relative;
        padding: 10px 15px;
    }
    .wa-partners .owl-buttons {
        #padding-left: 5px;
        #padding-top: 5px;
    }
    #testimonial-section1 .owl-buttons {
        padding-left: 0;
    }
    .wa_main_bn_wrap .owl-theme .owl-pagination {
        bottom: 10px;
    }
    .special-area-widthfull {
        width: 100%;
    }
	.dark-button,
	.wa-button{
		margin-bottom:5px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .pad-s30 {
        padding: 0px 30px;
    }
    .pad-s15 {
        padding-left:15px;
        padding-right:15px;
    }
    .marB-s30 {
        margin-bottom: 30px;
    }
    .sidebar-tab .padL0 {
        padding: 0px 15px;
    }
    .sidebar-tab .tab-btns {
        margin-bottom: 15px;
    }
    .home-sign-up {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
    .home-sign-up.pad40,
    .tabs-container.pad40 {
        padding: 30px;
    }
    .special-style {
        width: 100%;
    }
    .row.owl-carousel {
        margin: 0px;
    }
    .owl-carousel-style1 .owl-buttons div {
        float: none;
        margin-right: 5px;
    }
    .owl-carousel-style1 .owl-buttons {
        left: 0;
        width: 100%;
        top: 102%;
        text-align: left;
        position: relative;
        padding: 10px 15px;
    }
    .wa-partners .owl-buttons {
        #padding-left: 5px;
        #padding-top: 5px;
    }
    #testimonial-section1 .owl-buttons {
        padding-left: 0;
    }
    .wa_main_bn_wrap figcaption span,
    .wa_main_bn_wrap figcaption p,
    .wa_main_bn_wrap .owl-pagination {
        display: none;
    }
    .wa_main_bn_wrap figcaption h2 span {
        display: block;
        line-height: inherit;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .wa_main_bn_wrap figcaption h2 {
        font-size: 30px;
    }
    .wa_main_bn_wrap figure figcaption {
        margin: 0px;
        padding: 0px 15%;
        top: 20%;
    }
    .wa_main_bn_wrap .owl-buttons {
        bottom: 72%;
        width: 100%;
    }
    .wa_main_bn_wrap .owl-theme .owl-pagination {
        bottom: 10px;
    }
    .marLessT150 {
        margin-top: 0px;
    }
    .error-page,
    .error-page .social,
    .error-page .row.pull-left,
    .error-page .col-md-12.text-center {
        text-align: left;
        float: left;
    }
    .navbar-default .navbar-brand {
        padding: 8px;
    }
	.dark-button,
	.wa-button{
		margin-bottom:5px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 480px) {
    .pad-s30 {
        padding: 0px 30px;
    }
    .pad-s15 {
        padding-left:15px;
        padding-right:15px;
    }
    .marB-s30 {
        margin-bottom: 30px;
    }
    .sidebar-tab .padL0 {
        padding: 0px 15px;
    }
    .sidebar-tab .tab-btns {
        margin-bottom: 15px;
    }
    .home-sign-up {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
    .home-sign-up.pad40,
    .tabs-container.pad40 {
        padding: 30px;
    }
    .special-style {
        width: 100%;
    }
    .row.owl-carousel {
        margin: 0px;
    }
    .owl-carousel-style1 .owl-buttons div {
        float: none;
        margin-right: 5px;
    }
    .owl-carousel-style1 .owl-buttons {
        left: 0;
        width: 100%;
        top: 102%;
        text-align: left;
        position: relative;
        padding: 10px 15px;
    }
    .wa-partners .owl-buttons {
        #padding-left: 5px;
        #padding-top: 5px;
    }
    #testimonial-section1 .owl-buttons {
        padding-left: 0;
    }
    .wa_main_bn_wrap figcaption span,
    .wa_main_bn_wrap figcaption p,
    .wa_main_bn_wrap .wa-button,
    .wa_main_bn_wrap .owl-pagination {
        display: none;
    }
    .wa_main_bn_wrap figcaption h2 span {
        display: block;
        line-height: inherit;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .wa_main_bn_wrap figcaption h2 {
        font-size: 22px;
    }
    .wa_main_bn_wrap figure figcaption {
        margin: 0px;
        padding: 0px 15%;
        top: 30%;
    }
    .wa_main_bn_wrap .owl-buttons {
        bottom: 65%;
        width: 100%;
    }
    .wa_main_bn_wrap .owl-theme .owl-pagination {
        bottom: 10px;
    }
    .marLessT150 {
        margin-top: 0px;
    }
    .error-page,
    .error-page .social,
    .error-page .row.pull-left,
    .error-page .col-md-12.text-center {
        text-align: left;
        float: left;
    }
    .navbar-default .navbar-brand {
        padding: 8px;
    }
	.dark-button,
	.wa-button{
		margin-bottom:5px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .sidebar-tab .padL0 {
        padding: 0px 15px;
    }
    .sidebar-tab .tab-btns {
        margin-bottom: 15px;
    }
    .pad-s30 {
        padding: 0px 30px;
    }
    .pad-s15 {
        padding-left:15px;
        padding-right:15px;
    }
    .marB-s30 {
        margin-bottom: 30px;
    }
    .home-sign-up {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
    .home-sign-up.pad40,
    .tabs-container.pad40 {
        padding: 30px;
    }
    .special-style {
        width: 100%;
    }
    .row.owl-carousel {
        margin: 0px;
    }
    .owl-carousel-style1 .owl-buttons div {
        float: none;
        margin-right: 5px;
    }
    .owl-carousel-style1 .owl-buttons {
        left: 0;
        width: 100%;
        top: 102%;
        text-align: left;
        position: relative;
        padding: 10px 15px;
    }
    .wa-partners .owl-buttons {
        #padding-left: 5px;
        #padding-top: 5px;
    }
    #testimonial-section1 .owl-buttons {
        padding-left: 0;
    }
    .wa_main_bn_wrap figcaption span,
    .wa_main_bn_wrap figcaption p,
    .wa_main_bn_wrap .wa-button,
    .wa_main_bn_wrap .owl-pagination {
        display: none;
    }
    .wa_main_bn_wrap figcaption h2 span {
        display: block;
        line-height: inherit;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .wa_main_bn_wrap figcaption h2 {
        font-size: 18px;
    }
    .wa_main_bn_wrap figure figcaption {
        margin: 0px;
        padding: 0px 15%;
        top: 30%;
    }
    .wa_main_bn_wrap .owl-buttons {
        bottom: 72%;
        width: 100%;
    }
    .wa_main_bn_wrap .owl-theme .owl-pagination {
        bottom: 10px;
    }
    .marLessT150 {
        margin-top: 0px;
    }
    .error-page,
    .error-page .social,
    .error-page .row.pull-left,
    .error-page .col-md-12.text-center {
        text-align: left;
        float: left;
    }
    .navbar-default .navbar-brand {
        padding: 8px;
    }
	.payment-method.text-right{
		text-align:left;
	}
	.dark-button,
	.wa-button{
		margin-bottom:5px;
	}
}