<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Patient Ninja</title>
	<atom:link href="http://helpinghands1.skat.tf/shop/clothing/patient-ninja/feed/" rel="self" type="application/rss+xml" />
	<link>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/</link>
	<description>Just another The Web Design Factory Sites site</description>
	<lastBuildDate>Fri, 27 Jan 2017 20:29:30 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.2</generator>
	<item>
		<title>By: Magnus</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/#comment-18</link>
		<dc:creator><![CDATA[Magnus]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:04:03 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50#comment-18</guid>
		<description><![CDATA[This is my favorite hoodie!

If only it came in red as well!]]></description>
		<content:encoded><![CDATA[<p>This is my favorite hoodie!</p>
<p>If only it came in red as well!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/#comment-17</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:53:13 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50#comment-17</guid>
		<description><![CDATA[The most comfortable hoodie I have ever owned!]]></description>
		<content:encoded><![CDATA[<p>The most comfortable hoodie I have ever owned!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: James Koster</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/patient-ninja/#comment-16</link>
		<dc:creator><![CDATA[James Koster]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:46:52 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50#comment-16</guid>
		<description><![CDATA[Perfect when you&#039;re sat at your computer, waiting for the next batch of Woo Goodies to be released. The Patient Ninja is Patient.]]></description>
		<content:encoded><![CDATA[<p>Perfect when you&#8217;re sat at your computer, waiting for the next batch of Woo Goodies to be released. The Patient Ninja is Patient.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 36/43 queries in 0.012 seconds using disk
Content Delivery Network via skattf.skatdesign.netdna-cdn.com

 Served from: helpinghands1.skat.tf @ 2017-02-03 11:12:43 by W3 Total Cache -->