<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Ninja Silhouette</title>
	<atom:link href="http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/feed/" rel="self" type="application/rss+xml" />
	<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/</link>
	<description>Just another The Web Design Factory Sites site</description>
	<lastBuildDate>Fri, 27 Jan 2017 20:29:30 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.2</generator>
	<item>
		<title>By: Maria</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#comment-25</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:56 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-25</guid>
		<description><![CDATA[This only gets 1 star because I don&#039;t have this yet. I want it now!]]></description>
		<content:encoded><![CDATA[<p>This only gets 1 star because I don&#8217;t have this yet. I want it now!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ryan</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#comment-24</link>
		<dc:creator><![CDATA[Ryan]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:26:40 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-24</guid>
		<description><![CDATA[This is the most bombastic hoodie in this shop, it&#039;s soft and has the sly WooThemes ninja on it. Why wouldn&#039;t you buy this?]]></description>
		<content:encoded><![CDATA[<p>This is the most bombastic hoodie in this shop, it&#8217;s soft and has the sly WooThemes ninja on it. Why wouldn&#8217;t you buy this?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dan</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#comment-23</link>
		<dc:creator><![CDATA[Dan]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:41:42 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-23</guid>
		<description><![CDATA[I love hoodies, and ninjas, so what could be better than a ninja hoodie? Not much, if you ask me!]]></description>
		<content:encoded><![CDATA[<p>I love hoodies, and ninjas, so what could be better than a ninja hoodie? Not much, if you ask me!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Coen Jacobs</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#comment-22</link>
		<dc:creator><![CDATA[Coen Jacobs]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:20:56 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-22</guid>
		<description><![CDATA[I have lots of hoodies, but none is as cool as this one!]]></description>
		<content:encoded><![CDATA[<p>I have lots of hoodies, but none is as cool as this one!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: student</title>
		<link>http://helpinghands1.skat.tf/shop/clothing/ninja-silhouette-2/#comment-21</link>
		<dc:creator><![CDATA[student]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:14:53 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-21</guid>
		<description><![CDATA[Perfect Hoodie for a Ninja!]]></description>
		<content:encoded><![CDATA[<p>Perfect Hoodie for a Ninja!</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 28/45 queries in 0.013 seconds using disk
Content Delivery Network via skattf.skatdesign.netdna-cdn.com

 Served from: helpinghands1.skat.tf @ 2017-02-03 11:12:27 by W3 Total Cache -->