<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Album #3</title>
	<atom:link href="http://helpinghands1.skat.tf/shop/music/woo-album-3/feed/" rel="self" type="application/rss+xml" />
	<link>http://helpinghands1.skat.tf/shop/music/woo-album-3/</link>
	<description>Just another The Web Design Factory Sites site</description>
	<lastBuildDate>Fri, 27 Jan 2017 20:29:30 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.2</generator>
	<item>
		<title>By: Coen Jacobs</title>
		<link>http://helpinghands1.skat.tf/shop/music/woo-album-3/#comment-37</link>
		<dc:creator><![CDATA[Coen Jacobs]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:22:07 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=90#comment-37</guid>
		<description><![CDATA[This album gets a bit boring after you&#039;ve listened to it more than once. Worth that first listen though.]]></description>
		<content:encoded><![CDATA[<p>This album gets a bit boring after you&#8217;ve listened to it more than once. Worth that first listen though.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 23/47 queries in 0.015 seconds using disk
Content Delivery Network via skattf.skatdesign.netdna-cdn.com

 Served from: helpinghands1.skat.tf @ 2017-02-03 11:19:11 by W3 Total Cache -->